<nav>
    <a routerLink="/">Home</a>
    <span *ngIf="af.auth | async"> &bull;
      <a routerLink="/dashboard" *ngIf="af.auth | async">Dashboard</a> &bull;
      <a href="#" (click)="logout()">Logout</a>
    </span>
    <span *ngIf="!(af.auth | async)"> | 
      <a routerLink="/login">Login</a> &bull;
      <a routerLink="/signup">Sign up</a>
    </span>
</nav>
<hr>
<div *ngIf="af.auth | async">You are logged in.</div>
<div *ngIf="!(af.auth | async)">You're not logged in.</div>
<p>
    <router-outlet></router-outlet>
</p>
