<div class="row">
    <div class="small-12 medium-10 medium-centered columns">
        <div class="menu-centered">
            <a routerLink="/" class="button hollow">AngularFire2 <small>beta</small></a>
            <span *ngIf="af.auth | async">
              <a routerLink="/dashboard" class="button">Dashboard</a>
              <a (click)="logout()" class="button small" title="Logout"><i class="step fi-power size-18"></i></a>
            </span>
            <span *ngIf="!(af.auth | async)">
              <a class="button small" routerLink="/login">Login</a> 
              <a class="button small" routerLink="/signup">Sign up</a>
            </span>
        </div>
    </div>
    <hr>
</div>
<router-outlet></router-outlet>
<hr>
<div class="menu-centered">
    <ul class="menu">
        <li *ngIf="af.auth | async">LOGGED IN</li>
        <li *ngIf="!(af.auth | async)">NOT LOGGED IN</li>
        <li><a href="https://blog.khophi.co/angularfire2-authentication/" target="new">Read: AngularFire2 Authentication Article</a></li>
    </ul>
</div>
