<div class="row">
    <div class="small-12 medium-6 medium-centered columns">
        <h5 class="callout text-center">
          Dashboard which only Logged in Can see this
        </h5>
    </div>
    <div class="small-12 columns">
        <div class="menu-centered">
            <ul class="menu">
                <li>Dashboard</li>
                <li><a routerLink="/dashboard/profile">Profile</a></li>
                <li><a routerLink="/dashboard/account">Account</a></li>
                <li><a routerLink="/dashboard/settings">Settings</a></li>
            </ul>
        </div>
        <hr>
    </div>
</div>
<div class="row">
    <router-outlet></router-outlet>
</div>
